<div class="row pizza-menu-wrapper m-0">
    <div *ngIf="isDataLoading" class="loader-layer">
        <span class="loading-text">Loading...</span>
    </div>
    <div class="col-sm-3 h-100 filter-container">
        <div class="col-sm-12 p-0 toggel-btn-container filter-row">
            <div class="toggel-btn col-sm-6 p-0" [class.active]="activeTabindex==0" (click)="applyFilter(0)">
                Veg
            </div>
            <div class="toggel-btn col-sm-6  p-0" [class.active]="activeTabindex==1" (click)="applyFilter(1)">
                Non-Veg
            </div>
        </div>
        <div class="col-sm-12 p-0 filter-row">
            <div class="min-max-marker-wrapper">
                <div>100</div>
                <div>600</div>
            </div>
            <mat-slider class="w-100" min="100" step="50" max="600" [value]="slidervalue" (change)="applyFilterOnChange('price',$event.value)" thumbLabel></mat-slider>
        </div>
        <div class="col-sm-12 p-0 filter-row">
            <mat-select placeholder="Pizza Base" (selectionChange)="applyFilterOnChange('base',$event.value)">
                <mat-option *ngFor="let food of pizaBaseOptions" [value]="food.value">
                    {{food.label}}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-sm-12 p-0 filter-row">
            <mat-select placeholder="Pizza Type" (selectionChange)="applyFilterOnChange('type',$event.value)">
                <mat-option *ngFor="let food of pizaTypeOptions" [value]="food.value">
                    {{food.label}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="col-sm-9 h-100 list-container">
        <div class="row pizza-list">
            <div *ngFor="let pizza of pizzaList" class="col-sm-10 d-flex pizza-info-row">
                <div class="col-sm-3 d-flex image-container">
                    <img *ngIf="activeTabindex == 0 else nonVegPizza" src="../../assets/Margherit.jpg" alt="pepper-barbecue-chicken" title="" class="img-responsive">
                    <ng-template #nonVegPizza>
                        <img src="../../assets/Pepper_Barbeque.jpg" alt="pepper-barbecue-chicken" title="" class="img-responsive">
                    </ng-template>
                </div>
                <div class="col-sm-6 info-container">
                    <div class="pizza-name">{{pizza.name}}</div>
                    <ul>
                        <li>{{pizza.base}}</li>
                        <li>{{pizza.type}}</li>
                        <li>{{pizza.Category}}</li>
                    </ul>
                    <div class="price-dtails-row d-flex">
                        <div><b>Rs.{{pizza.price}}</b></div>
                        <button mat-raised-button color="primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>