<div class="app-container">
  <div class="row m-0 h-100">
    <div class="col-md-2 navigation-menu p-0">
      <div class="bg-dark company-logo d-flex justify-content-center py-3">
        <img src="../assets/QY7WSh.tif.png">
      </div>
      <div class="naviagtion-links">
        <div *ngFor="let menu of navigationMenu" (click)="navigateTo(menu.path)" class="navigation-link align-items-center d-flex p-3">
          <span class="material-icons icon-image-preview mr-2">{{menu.icon}}</span>
          <span>{{menu.name}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-10 p-0 app-body-container">
      <div class="app-header d-flex justify-content-between p-3">
        <span>Dashboard</span>
        <div class="icons-container d-flex">
          <div class="bell-icon mr-3 position-relative">
            <div class="align-items-center d-flex justify-content-center notification-count position-absolute">
              {{notificationCount}}
            </div>
            <span class="material-icons icon-image-preview">notifications_none</span>
          </div>
          <div class="profile-icon mr-3">
            <img src="../assets/Asset 7.png">
          </div>
        </div>
      </div>
      <div class="app-body-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>